.SodaSelection-display{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e70bef;
    overflow: hidden;
}

.SodaSelection-console{
    position: relative;
    left: 0;
    bottom: 42px;
    width: 100%;
    height: 40px;
    /* border: 1px solid green; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}

.SodaSelection-Btn{
    background-color: transparent;
    color:#0385dc;
    border: none;
    border: 2px solid #0385dc;
    border-radius: 3px;
    width: 47%;
    height: 30px;
    transition: 1s;
}

.SodaSelection-Btn:hover{
    color:#e70bef;
    border: 2px solid #e70bef;
    transition: 1s;
}