@keyframes navLinkGlow {
    0%{text-shadow: 0px 0px 19px #0385dc;}
    50%{text-shadow: 0px 0px 9px #0385dc;}
    100%{text-shadow: 0px 0px 19px #0385dc;}
  }

  @keyframes navLinkGlowHover {
    0%{text-shadow: 0px 0px 19px #dd04fe;}
    50%{text-shadow: 0px 0px 9px #dd04fe;}
    100%{text-shadow: 0px 0px 19px #dd04fe;}
  }

.Header-deck{
    width: 410px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.single-item-console{
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Header-console{
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.Header-navLink{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #0385dc;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    text-shadow: 0px 0px 9px #0385dc;
    animation: navLinkGlow 1.2s ease-in-out infinite;
    transition: 1s;
}

.Header-navLink:hover{
    color: #dd04fe;
    text-shadow: 0px 0px 15px#dd04fe;
    animation: navLinkGlowHover 1.2s ease-in-out infinite;
    transition: 1s;
}
